tensorflow>=2.16.1
transformers
langchain
scikit-learn
numpy<2.0.0
pandas
librosa
opencv-python
pyttsx3
datasets
fastapi
uvicorn
pydantic
python-multipart
bitsandbytes
accelerate
torch
Pillow
matplotlib
